<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Netlify Environment Test</title>
</head>
<body>
<h1>Netlify Environment Test</h1>
<pre><%= JSON.stringify(process.env, null, 2) %></pre>
</body>
</html>
